{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "indent": ["warn", 2],
    "comma-dangle": ["warn", "never"],
    "object-shorthand": "off",
    "no-use-before-define": "off",
    "linebreak-style": 0
  }
}
